save=true
save-exact=true
//npm.pkg.github.com/:_authToken=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
# //npm.pkg.github.com/:_authToken=45b3e16b2e876111c666d0244a3ef83a04d0500c007de087c98592f82801aa31
# TOKEN = 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
NPM_TOKEN = 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
NPM_CONFIG_TOKEN =  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
